body {
	font-size: 36px;
	background-color: black;
	text-align: center;
	width: 100vw;
	height: 100vh;
	position: static;
	background-image: url("../img/file.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	background-repeat: no-repeat;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: mediumseagreen;
}

a:visited {
	text-decoration: none;
	color: mediumseagreen;
}

#t {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 50px;
	width: 100px;
	font-family: 'Satisfy', cursive;
	font-style: italic;
	font-size: 35px;
	color: mediumseagreen;
	z-index: 2;
}

#title:visited { 
	text-decoration: none;
	color: mediumseagreen;
}

#responseTextArea {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: mediumseagreen;
	text-align: left;
	margin-left: 40px;
}

#text {
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	color: mediumseagreen;
}

#right-text {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	color: mediumseagreen;
}

#leftcol {
	position: absolute;
	left: 0%;
	top: 100px;
	width: 50vw;
	height: 90vh;
	max-height: 90vh;
	overflow: scroll;
	z-index: 1;
}

#titlebg {
	position: absolute;
	top: 10%;
	height: 450px;
	width: 100%;
	background-color: white;
	text-align: center;
	opacity: 0.7;
	z-index: 1.5;
}





#searchresults {
	position: absolute;
	left: 50%;
	width: 50vw;
	height: 100vh;
	top: 100px;
}

#responseTextArea2 {
	text-align: left;
	margin-left: 40px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: mediumseagreen;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: scroll;
	z-index: 1;
}

.pointer {
	cursor: pointer;
}